 <div class="row" ng-repeat="user in customers | orderBy:'lastName'">
     <div class="col-md-12">
        <div class="panel panel-primary filterable" >
            <div class="panel-heading">
            	<h3 class="panel-title">{{ user.firstName }} {{ user.lastName }}, {{ user.address }}, {{ user.city }} </h3>
            </div>
            <table class="table" >
                <thead>
                    <tr class="filters">
                        <th>OrderNumber</th>
                        <th>OrderTotal</th>
                        <th>Price</th>
                        <th>Product</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in user.orders">
                        <td>{{ $index+1 }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.orderTotal }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>