<!-- Jquerry -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- load angular via CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>

	<!-- Modules -->
	<script type="text/javascript" src="app/app.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="app/controllers/loginController.js"></script>
	<script type="text/javascript" src="app/controllers/customersController.js"></script>
	<script type="text/javascript" src="app/controllers/ordersController.js"></script>
	<script type="text/javascript" src="app/controllers/customerOrdersController.js"></script>
	<script type="text/javascript" src="app/controllers/footerHeaderController.js"></script>
	<!-- Service -->
	<script type="text/javascript" src="app/service/customersService.js"></script>